<h1>Word Count Results</h1>
<h3>Text</h3>
<p><%= @text %></p>
<h3>Special word</h3>
<p><%= @special_word %></p>
<h3>Character Count (with spaces)</h3>
<p><%= @character_count_with_spaces %></p>
<h3>Character Count (without spaces)</h3>
<p><%= @character_count_without_spaces %></p>
<h3>Occurrences of <%= @special_word %></h3>
<p><%= @occurrences %></p>
<p><a href="http://localhost:3000/word_count/new" target="_blank">Process more text</a></p>
